{% extends "users/base.html" %}
{% load crispy_forms_tags%}

{% block content %}
    <div>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>GET IN</legend>
                {{ form | crispy }}
            </fieldset>
            <div><button type="submit" class="btn btn-primary ">Sign Up</button></div>
        </form>
        <div><small>Already have an account??<a href="{% url 'login' %}">Sign In</a></small></div>

    </div>
{% endblock %}